@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Courier New", Courier, monospace;
}

body {
  height: 100vh;
  display: flex;
}

.dashboard-options {
  flex: 1;
  background-color: #2192d4;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dashboard-main {
  flex: 5;
}

.option,
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  color: azure;
  font-size: 1.5rem;
}
.option > img,
.logo > img {
  filter: invert(98%) sepia(1%) saturate(1%) hue-rotate(211deg) brightness(106%)
    contrast(100%);
}

.logo {
  font-size: 1.8rem;
}
.logo > img {
  width: 40px;
}

header {
  border: 1px solid red;
  padding: 1rem 4rem;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 70%;
  display: flex;
  gap: 1rem;
}
.search > input {
  width: 90%;
  height: 2rem;
  border: none;
  border-radius: 2rem;
  background-color: #e2e8f0;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}
